In [1]:
import pandas as pd

df = pd.read_csv('../dados/sbank_usuarios.csv') 

df.head() # checando as 5 primeira linhas

,usuario_id,idade,renda_mensal,estado,data_cadastro,score_credito,tem_cartao,tem_conta_corrente
0,1,30,4840.38,RN,2024-04-13,701,False,True
1,2,59,12910.94,PR,2024-06-08,340,True,True
2,3,41,8104.98,SC,2024-04-23,647,True,True
3,4,36,2581.82,RJ,2024-02-02,716,False,True
4,5,26,20530.99,AM,2024-10-13,711,False,False

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   usuario_id          50000 non-null  int64
 1   idade               50000 non-null  int64
 2   renda_mensal        50000 non-null  float64
 3   estado              50000 non-null  object
 4   data_cadastro       50000 non-null  object
 5   score_credito       50000 non-null  int64
 6   tem_cartao          50000 non-null  bool
 7   tem_conta_corrente  50000 non-null  bool
dtypes: bool(2), float64(1), int64(3), object(2)
memory usage: 2.4+ MB

In [3]:
df.describe()

         usuario_id         idade  renda_mensal  score_credito
count  50000.000000  50000.000000  50000.000000    50000.00000
mean   25000.500000     35.617400   6780.610609      649.85364
std    14433.901067     11.036937   6149.727364      118.89014
min        1.000000     18.000000   1000.000000      300.00000
25%    12500.750000     28.000000   2883.425000      569.00000
50%    25000.500000     33.000000   4946.675000      651.00000
75%    37500.250000     42.000000   8469.625000      731.00000
max    50000.000000     64.000000  50000.000000      950.00000

In [4]:
df['tem_cartao'].value_counts(normalize=True)

tem_cartao
True     0.74972
False    0.25028
Name: proportion, dtype: float64